<div class="home-page">
  <div class="m-ctnt">
    <img class="logo" src="/assets/angular.svg" alt="angular">
    <h6>{{ title }}</h6>
    <div class="buttons">
      <a href="https://github.com/sibiraj-s" target="_blank">
        <img src="https://badgen.net/badge/github/Follow%20@sibiraj-s?icon&label" alt="Follow @sibiraj-s on GitHub" />
      </a>
      <a href="https://github.com/sibiraj-s/ngx-notifier/fork" target="_blank">
        <img src="https://badgen.net/badge/git/Fork%20ngx-notifier?icon&label"
          alt="Fork sibiraj-s/ngx-notifier on GitHub" />
      </a>
      <a href="https://www.npmjs.com/package/ngx-notifier" target="_blank">
        <img src="https://badgen.net/npm/v/ngx-notifier" alt="NPM Version" />
      </a>
      <a href="https://github.com/sibiraj-s/ngx-notifier/blob/master/LICENSE" target="_blank">
        <img src="https://badgen.net/github/license/sibiraj-s/ngx-notifier" alt="License" />
      </a>
    </div>
    <br />
    <div class="notifiers">
      <button class="btn btn-sm btn-info" (click)="createToast('info')">Info</button>
      <button class="btn btn-sm btn-warning" (click)="createToast('warning')">Warning</button>
      <button class="btn btn-sm btn-danger" (click)="createToast('danger')">Danger</button>
      <button class="btn btn-sm btn-success" (click)="createToast('success')">Success</button>
      <button class="btn btn-sm btn-primary" (click)="clearToasts()">Clear All Toasts</button>
      <button class="btn btn-sm btn-secondary" (click)="clearLastToast()">Clear Last Toast</button>
    </div>
  </div>
</div>
<ngx-notifier [allowHTML]="true"></ngx-notifier>
