.home-page {
    padding-top: 4rem;

    .m-ctnt {
        text-align: center;
        width: 50%;
        margin: auto;

        img {
            width: 20rem;
        }

        .notifiers {
            margin-bottom: 2rem;

            button {

                &:focus,
                &active {
                    box-shadow: none !important;
                }
            }
        }
    }
}
